<a href="https://colab.research.google.com/github/Elwing-Chou/tibame_night_20250825/blob/main/tibame_20250920.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.request as req
url = "https://github.com/Elwing-Chou/tibame_night_20250825/raw/refs/heads/main/tabelog_20250910.csv"
req.urlretrieve(url, "tabelog.csv")

('tabelog.csv', <http.client.HTTPMessage at 0x7f4d5f664c50>)

In [ ]:
import pandas as pd
df = pd.read_csv("tabelog.csv", encoding="utf-8", index_col=0)
df



```
pandas兩大操作
1. 過濾: 表格[跟你資料筆數依樣多的True/False]
2. 轉換: 提供一個轉換的方式(功能)給你的表格
```

In [10]:
def func(n):
    return round(n * 2, 1)

df["評分"].apply(func)

0      8.6
1      8.0
2      8.0
3      8.0
4      8.0
      ...
395    7.2
396    7.2
397    7.2
398    7.2
399    7.2
Name: 評分, Length: 400, dtype: float64